# Instructions

*This tutorial is mainly based on ["How to Easily Build Your First Machine Learning Web App in Python"](https://towardsdatascience.com/how-to-easily-build-your-first-machine-learning-web-app-in-python-c3d6c0f0a01c) by Frank Andrade.*

- Goal: Deploy a regression model in a web application with Flask.

## Create virtual environment

Follow the instructions in the [README.md](https://github.com/kirenz/flask-ml-app#readme) file to create a virtual environment

## Setup

In [3]:
from sklearn import linear_model
import pandas as pd
import pickle

## Data

In [5]:

df = pd.read_csv('ml-model/prices.csv')
df

     Rooms  Distance  Value
0    7.489    1.9709   50.0
1    7.802    2.0407   50.0
2    8.375    2.1620   50.0
3    7.929    2.0459   50.0
4    7.831    3.1992   50.0
..     ...       ...    ...
344  5.966    6.8185   16.0
345  5.613    1.7572   15.7
346  5.924    4.3996   15.6
347  5.757    2.3460   15.6
348  5.468    1.4118   15.6

[349 rows x 3 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rooms     349 non-null    float64
 1   Distance  349 non-null    float64
 2   Value     349 non-null    float64
dtypes: float64(3)
memory usage: 8.3 KB

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Rooms,349.0,6.426957,0.700615,3.5610,5.9650,6.3120,6.7620,8.7800
Distance,349.0,4.489799,2.128334,1.1296,2.7147,4.0905,5.9604,12.1265
Value,349.0,26.047278,8.505098,15.6000,20.3000,23.2000,29.6000,50.0000

In [9]:
y = df['Value'] # dependent variable
X = df[['Rooms', 'Distance']] # independent variables

## Model

In [10]:
model = linear_model.LinearRegression()

model.fit(X, y)

LinearRegression()

### Prediction

In [8]:
rooms = 5
distance = 2
prediction = model.predict([[rooms, distance]])
output = round(prediction[0], 2)

print(f'A house with {rooms} rooms per dwelling and located {distance} km to employment centers has a value of ${output}K')

A house with 5 rooms per dwelling and located 2 km to employment centers has a value of $14.02K

/Users/jankirenz/opt/anaconda3/envs/flask/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [6]:

print(model.predict([[15, 61]]))  # format of input
print(f'score: {model.score(X, y)}')

[77.52315295]
score: 0.5931902892603973

/Users/jankirenz/opt/anaconda3/envs/flask/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [5]:
pickle.dump(model, open('model-test.pkl','wb')) # save the model